#mainArea {
    height:100vh;
    min-height:700px;
}

#navBar {
    height: 10vh;
    font-size: 12px;
    font-family: Gill Sans;
}

#navBar > a {
    float: right;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
}
#navBar > a:hover {
    text-shadow: 1px 1px 2px grey;
}
#navBar > a:visited {
    color: black;
}

#mainContent {
    height: 90vh;
}

.centerText {
    text-align: center;
    font-family: Ink Free, papyrus, Segoe Script;
    caret-color: transparent;
}

.imgInText {
    width: 50px;
    height: 50px;
    padding: 0px 10px;
    vertical-align: middle;
}

.imgInText:hover {
    transform: rotate(45deg);
}

#galleryArea {
    height: 100vh;
    width: 90vw;
    margin: 0px 5vw;
    animation: animate 10s ease infinite;
}
@keyframes animate {
    0%{
        background-color: tan;
    }
    50%{
        background-color: sienna;
    }
    100%{
        background-color: maroon;
    }
}

#galleryHeader {
    height:150px;
}

#galleryHeader > h2 {
    padding-top: 50px;
    color: ivory;
}

#galleryHeader > input {
    margin: 5px;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
}

#imageList {
    height: calc(100vh - 150px);
    width: 90vw;
    overflow-y: auto;
    scrollbar-color: wheat transparent;
    scrollbar-gutter: stable;
}

.imgThumbnail {
    width: 200px;
    height: 200px;
    padding: 5px 5px 0px 5px;
    object-fit: cover;
    cursor: pointer;
}

.boxPopUp {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
}

.imgBig {
    width: 80vw;
    height: 80vh;
    object-fit: contain;
    position:relative;
    float: left;
    top: 10vh;
    left: 10vw;
}

#xButton {
    position: relative;
	color: white;
	background-color: transparent;
	border : 0;
	float: right;
    top: 10px;
    right: 50px;
    font-size: 30px;
    font-family: tahoma;
    cursor: pointer;
    opacity: 0.5;
}
#xButton:hover {
    opacity: 1;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    padding: 10px;
    position: fixed;
    top: 45vh;
    opacity: 0.5;
    cursor: pointer;
}
.arrow:hover {
    opacity: 1;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
	float: right;
    right: 50px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
	float: left;
    left: 50px;
}